[user]
    name = Fabien Culpo
    email = {{ .email | quote }}
{{- if and (hasKey . "gpgkey") .gpgkey }}
    signingkey = {{ .gpgkey }}
{{- end }}

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = default

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[push]
    autoSetupRemote = true

[worktree]
    useRelativePaths = false

[commit]
{{- if and (hasKey . "gpgkey") .gpgkey }}
    gpgsign = true
{{- end }}

[tag]
{{- if and (hasKey . "gpgkey") .gpgkey }}
    gpgsign = true
{{- end }}

{{ if eq .chezmoi.os "darwin" -}}
[gpg]
    program = /opt/homebrew/bin/gpg

{{ end -}}

[include]
    path = ~/.gitconfig.local

[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
    helper = !/usr/bin/gh auth git-credential
